// Here you can add other styles
.bg-logo {
  background: url("../Logo_Dai_hoc_Can_Tho.png") no-repeat center;
  background-color: transparent!important;
  background-size: contain;
  border: none;
}
